

<app-menu></app-menu>
<h3>[Review Request Detail]</h3>

<div>
<table *ngIf="request" class="table table-bordered table-dark">
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
    </tr>
    <tr *ngIf="request">
        <td>{{ request.id }}</td>
        <td>{{ request.user.userName }} </td>
        <td>{{ request.description }} </td>
        <td>{{ request.status }} </td>
        <td>{{ request.total | currency }} </td>
    </tr>
</table>
</div>
<h3>[Review Line Items Detail]</h3>
<div>
    <table class="table table-bordered table-dark">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let lineitem of lineitems">
            <td>{{ lineitem.id }}</td>
            <td>{{ lineitem.product.name }} </td>
            <td>{{ lineitem.quantity }} </td>
            <td>{{ lineitem.product.price | currency }} </td>
            <td>{{ lineitem.quantity * lineitem.product.price | currency }} </td>
        </tr>
        <tr>
            <td colspan="1">
                <span>
                    <button (click)="approveRequest()" class="btn btn-success">Approve</button>
                </span>
            </td>
            <td>
                <span *ngIf="request.reasonForRejection">
                    <button (click)="rejectRequest()" class="btn btn-danger" type="button">Reject</button>
                </span>  
                <input [(ngModel)]="request.reasonForRejection" type="text" placeholder="Reason for Rejection">
                
            </td>       
        </tr>
    </table>
    </div>

