
<app-menu></app-menu>
<h3>[Product List]</h3>

<div>
    <a routerLink="/products/create">Add New Product</a>
    </div>

<table class="table table-bordered table-dark">
    <tr>
        <th>Id</th>
        <th>Vendor</th>
        <th>PartNumber</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>PhotoPath</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.vendor.name }} </td>
        <td>{{ product.partNumber }} </td>
        <td>{{ product.name }} </td>
        <td>{{ product.price | currency }} </td>
        <td>{{ product.unit }} </td>
        <td>{{ product.photoPath }} </td>
        <td>
            <a routerLink="/products/detail/{{product.id}}">Detail</a> |
            <a routerLink="/products/edit/{{product.id}}">Edit</a>
        </td>
    </tr>
</table>
