
<app-menu></app-menu>
<h3>[Line Item Create]</h3>

<table *ngIf = "lineitem" class="table table-bordered table-dark">
    <tr>
        <th>Product</th>
        <td>
            <select [(ngModel)]="lineitem.product">
                <option *ngFor = "let product of products" [ngValue]="product">{{product.name}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>
            <input [(ngModel)]="lineitem.quantity" type="number" min="0">
        </td>
    </tr>
    <tr>
        
        <td colspan="2">
            <button (click)="save()" class="btn btn-success">Add</button>
        </td>
    </tr>
</table>