
<app-menu></app-menu>
<h3>[User Create]</h3>


<table *ngIf="user" class="table table-bordered table-dark">
    <tr>
        <td>Id</td>
        <td>
            <input [(ngModel)]="user.id" type="text" disabled>
        </td>
    </tr>
    <tr>
        <th>UserName</th>
        <td>
            <input [(ngModel)]="user.userName" type="text">
        </td>
    </tr>
    <tr>
        <th>PassWord</th>
        <td>
            <input [(ngModel)]="user.passWord" type="text">
        </td>
    </tr>
    <tr>
        <th>FirstName</th>
        <td>
            <input [(ngModel)]="user.firstName" type="text">
        </td>
    </tr>
    <tr>
        <th>LastName</th>
        <td>
            <input [(ngModel)]="user.lastName" type="text">
        </td>
    </tr>
    <tr>
        <th>PhoneNumber</th>
        <td>
            <input [(ngModel)]="user.phoneNumber" type="text">
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <input [(ngModel)]="user.email" type="text">
        </td>
    </tr>
    <tr>
        <th>Reviewer</th>
        <td>
            <input [(ngModel)]="user.reviewer" type="checkbox">
        </td>
    </tr>
    <tr>
        <th>Admin</th>
        <td>
            <input [(ngModel)]="user.admin" type="checkbox">
        </td>
    </tr>
    
    <tr>
        
        <td colspan="2">
            <button (click)="save()" class="btn btn-success">Save</button>
        </td>
    </tr>
    
</table>

