

<app-menu></app-menu>
<h3>[Request List]</h3>

<div>
    <a routerLink="/requests/create">Add New Request</a>
    </div>

<table class="table table-bordered table-dark">
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Description</th>
        <th>Justification</th>
        <th>DateNeeded</th>
        <th>DeliveryMode</th>
        <th>Status</th>
        <th>Total</th>
        <th>SubmittedDate</th>
        <th>ReasonForRejection</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let request of requests">
        <td>{{ request.id }}</td>
        <td>{{ request.user.name }} </td>
        <td>{{ request.description }} </td>
        <td>{{ request.justification }} </td>
        <td>{{ request.dateNeeded }} </td>
        <td>{{ request.deliveryMode }} </td>
        <td>{{ request.status }} </td>
        <td>{{ request.total | currency }} </td>
        <td>{{ request.submittedDate }} </td>
        <td>{{ request.reasonForRejection }} </td>
        <td>
            <a routerLink="/requests/detail/{{request.id}}">Detail</a> |
            <a routerLink="/requests/edit/{{request.id}}">Edit</a>
        </td>
    </tr>
</table>